* {
    color:white;
}

.backg {
    background-color: rgb(209, 7, 7);
}

.title {
    color:white;
    text-align: center;
}

img {
    height: auto;
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}


.center{
    text-align: center;
}


ul {
    width: 5%;
    margin: auto;
}

ol {
    width: 10%;
    margin: auto;
}